h1 {
    text-align: center;
    color: var(--third-color);
    filter: brightness(2);
    text-shadow: 0 0 .25em var(--fourth-color);
}
h5 {
    width: fit-content;
    margin: 5em auto;
}
input[type="text"] {
    padding: .5em;
    background-color: var(--third-color);
    color: var(--fourth-color);
    font-weight: 900;
    text-align: center;
    border: .25em solid var(--secondary-color);
    box-shadow: 0 0 .5em var(--fourth-color);
    font-size: 125%;
}
button[type="reset"] {
    display: block;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2em;
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    font-weight: 900;
    border: .1em solid var(--fifth-color);
}
table.main, table.secondary, table.leagues_users {
    width: 100%;
    max-width: 1200px;
    table-layout: fixed;
    margin: auto;
    text-align: center;
    border-spacing: 0;
    color: var(--fourth-color);
    text-shadow: 0 0 .25em var(--secondary-color);
    background-color: rgba(90, 79, 79, 0.15);
}
div.table_container {
    background-image: url('fire.png');
    background-size: cover;
    background-position: center bottom;
    display: block;
    overflow: scroll;
    height: 75em;
}
table.secondary td > p {
    margin: auto;
    width: fit-content;
}
table.main th {
    color: var(--fourth-color);
}
img.thumbnail {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    box-shadow: 0 0 1em var(--fifth-color);
    object-fit: cover;
}
img.thumbnail_small {
    width: 2em;
    border-radius: 50%;
}

div.nav_container {
    width: fit-content;
    margin: auto;
}
button.nav {
    background-color: var(--fourth-color);
    width: fit-content;
    padding: .5em;
    color: var(--secondary-color);
    font-weight: 900;
    font-size: 125%;
    border: unset;
    border-radius: 1em;
    box-shadow: inset 0 0 2em var(--primary-color);
    cursor: pointer;
    margin: .5em; 
}
button.active_nav {
    background-color: var(--third-color);
    border: .1em solid var(--fourth-color);
    filter: brightness(2);
    color: var(--fifth-color);
    text-shadow: 0 0 .75em var(--secondary-color);
     
}
.clickable {
    cursor: pointer;
}
tbody.active {
    border: 1em solid var(--fourth-color);
}
tr.hover:hover, tr.active, p.hover:hover {
    background-color: var(--fourth-color);
    color: var(--third-color);
}
tr.hover2:hover, tr.active2 {
    background-color: var(--fourth-color);
}
tr.hover2:hover p.league, tr.active2 p.league {
    color: var(--third-color);
}
tr.hover2:hover p.draft_status, tr.active2 p.draft_status {
    color: var(--secondary-color);
    text-shadow: 0 0 .25em var(--third-color)
}
table.secondary, table.leagues_users {
    border: .25em solid var(--fourth-color);
    padding: 1em;
    padding: 0;
}

table.secondary th {
    color: var(--third-color);
}
table.secondary th.values {
    color: var(--fourth-color);
    padding: 1em 0;
}
ul, ol {
    list-style: none;
}
div.leaguewrapper {
    position: relative;
    width: 100%;
    margin: 5em auto;
}
.title_container {
    margin: 2em auto;
}
div.leaguewrapper > img, .title_picture {
    position: absolute;
    width: 5em;
    height: 5em;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
    filter: brightness(.5);  
}
p.title {
    position: relative;
    z-index: 1;
}
p.league {
    color: var(--fourth-color);
    text-shadow: 0 0 .25em var(--secondary-color), 0 0 .5em var(--third-color);
    filter: brightness(2);
    font-weight: 900;
    font-size: 125%;
}
p.draft_status {
    color: var(--third-color);
    filter: brightness(2);
    font-weight: 900;
    text-shadow: 0 0 .25em var(--secondary-color);
}
div.round_row {
    display: inline-flex;
}
table.round {
    margin: 1em;
    font-size: 85%;
    background-color: rgba(90, 79, 79, 0.15);
    box-shadow: 0 0 1em var(--fifth-color);
    border-spacing: 0;
}
tr.draft_picks {
    height: 50em;
    display: block;
    overflow-y: scroll;
    border: .5em solid var(--fourth-color);
}
.left {
    text-align: left;
    display: flex;
    align-items: center;
}
.top {
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p.hover.left {
    width: 100%;
    white-space: nowrap;
    overflow: scroll;
    margin-left: 0;
    box-shadow: 0 0 .5em var(--fifth-color);
}
td.picks > p {
    padding: .5em;
}
p.header {
    font-weight: 900;
}
div.roster_group {
    width: fit-content;
    margin: auto;
    padding: 0;
}